.conan{
    background-color: blue;
}

a.link{
    color: #126186;
    padding:0px 10px;
    margin:0px 0px 0px 2px;
    border-radius:10px;
}

a.link:hover{
    background-color:    #126186;
    color: #f4f4f4;
}

a.link2{
    color: #126186;
    padding:0px 10px;
    margin:0px 0px 0px 5px;
    border-radius:20px;
}

a.link2:hover{
    background-color:   #126186;
    color:  rgb(255, 255, 255);
}

div.xpxdivgrey{
    background-color: #c1e3ffab;
    padding: 15px;
    margin: 10px;
    box-sizing: border-box;
    border:2px solid  #126186;
    border-radius: 5px;
    width: 940px;
}

.xpxsmallh4{
    font-size: 20px;
    color:rgb(9, 55, 67);
}

span.en-name{
    color: #126186;
    text-shadow: 3px 2px 0 #ffffff;
    -webkit-text-stroke:#ffffff;
    font-size: 90px;
}

.ch-name{
    color: #126186;
    text-shadow: 3px 2px 0 #ffffff;
    -webkit-text-stroke:#ffffff !important;
}

nav.leftcolor{
    background-color: #96c3e7; 
}

.xpxcrop{
    width: 350px;
    height: 200px;
    overflow: hidden;
    object-fit: cover;
    margin: 10px;
    border-radius: 5px;
}

.background1{
    background-image: url(../assets/photo/background1.png);
    height: 100%;
    background-size: cover;
    background-position: center;
}

.background2{
    background-image: url(../assets/photo/background2.png);
    height: 100%;
    background-size: cover;
    background-position: center;
}

.color{
    color: rgb(12, 2, 49) !important;
}

.xpxserif{
  font-family: "Noto Serif TC", serif;
}

.name{
    padding: 10px;
}

.xpxol{
    color: rgb(34, 34, 34);
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
}

.square{
    font-weight: 600;
    padding: 5px;
    text-align: left;
}

.bg{
    background-image: url(../assets/photo/background3.png);
    height: 100%;
    background-size: cover;
    background-position: center;
    background-color: aliceblue;
    background-repeat: repeat-y;
    background-attachment: fixed;
}

.size{
    font-size: 20px !important;
}

.photo{
    padding: 5px;
    width: 45%;
}

.xpxtime{
    color: #126186 !important;
    font-weight: 700;
    font-size: 18px;
}

.protfolio{
    width: 100%;
    text-align:center;
}

.xpxtable{
    color: black;
    padding: 10px;
    background-color: #c1e3ffab;
    margin: 20px;
    width: 100%;
    text-align: center;
    border:2px solid  #126186;
}


th,td{
    border:2px solid  #126186;
}

.xpxsectr{
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.table{
    margin: 10px;
    padding: 20px;
    background-color: #f4f4f4;
    color: black;
    font-size: 15px;
    font-weight: 400;
    border:2px  solid  #126186;
}

.card-title{
    color: #126186;
}

.xpxp{
    margin: 20px;
}

.xpxback{
    padding: 20px;
}